//colors
$black:#000000;

//sizes
$xs:05rem;
$normal:1rem;
$sm:1.5rem;
$md:2rem;
$lg:3rem;
$xlg:5rem;
$xxlg:7rem;

$button-radius:30px;

//fonts
$quicksand: 'Quicksand', sans-serif;

//breakpoints
$lg-breakpoints:1024px;
$md-breakpoints:768px;
$sm-breakpoints:641px;
$xs-breakpoints:480px;


